@keyframes animate {
  0% {
    content: "|";
  }
  1% {
    content: "D|";
  }
  2% {
    content: "De|";
  }
  3% {
    content: "Des|";
  }
  4% {
    content: "Desi|";
  }
  5% {
    content: "Desig|";
  }
  6% {
    content: "Design|";
  }
  7% {
    content: "Designe|";
  }
  8% {
    content: "Designer|";
  }
  9% {
    content: "Designer|";
  }
  10% {
    content: "Designer|";
  }
  11% {
    content: "Designe|";
  }
  12% {
    content: "Design|";
  }
  13% {
    content: "Desig|";
  }
  14% {
    content: "Desi|";
  }
  15% {
    content: "Des|";
  }
  16% {
    content: "De|";
  }
  17% {
    content: "D|";
  }
  18% {
    content: "|";
  }
  19% {
    content: "D|";
  }
  20% {
    content: "De|";
  }
  21% {
    content: "Dev|";
  }
  22% {
    content: "Deve|";
  }
  23% {
    content: "Devel|";
  }
  24% {
    content: "Develo|";
  }
  25% {
    content: "Develop|";
  }
  26% {
    content: "Develope|";
  }
  27% {
    content: "Developer|";
  }
  28% {
    content: "Developer|";
  }
  29% {
    content: "Developer|";
  }
  30% {
    content: "Developer|";
  }
  31% {
    content: "Develope|";
  }
  32% {
    content: "Develop|";
  }
  33% {
    content: "Develo|";
  }
  34% {
    content: "Devel|";
  }
  35% {
    content: "Deve|";
  }
  36% {
    content: "Dev|";
  }
  37% {
    content: "De|";
  }
  38% {
    content: "D|";
  }
  39% {
    content: "|";
  }
  40% {
    content: "P|";
  }
  41% {
    content: "Ph|";
  }
  42% {
    content: "Pho|";
  }
  43% {
    content: "Phot|";
  }
  44% {
    content: "Photo|";
  }
  45% {
    content: "Photog|";
  }
  46% {
    content: "Photogr|";
  }
  47% {
    content: "Photogra|";
  }
  48% {
    content: "Photograp|";
  }
  49% {
    content: "Photograph|";
  }
  50% {
    content: "Photographe|";
  }
  51% {
    content: "Photographer|";
  }
  52% {
    content: "Photographer|";
  }
  53% {
    content: "Photographer|";
  }
  54% {
    content: "Photographer|";
  }
  55% {
    content: "Photographe|";
  }
  56% {
    content: "Photograph|";
  }
  57% {
    content: "Photograp|";
  }
  58% {
    content: "Photogra|";
  }
  59% {
    content: "Photogr|";
  }
  60% {
    content: "Photog|";
  }
  61% {
    content: "Photo|";
  }
  62% {
    content: "Phot|";
  }
  63% {
    content: "Pho|";
  }
  64% {
    content: "Ph|";
  }
  65% {
    content: "P|";
  }
  66% {
    content: "|";
  }
  67% {
    content: "F|";
  }
  68% {
    content: "Fr|";
  }
  69% {
    content: "Fre|";
  }
  70% {
    content: "Free|";
  }
  71% {
    content: "Freel|";
  }
  72% {
    content: "Freela|";
  }
  73% {
    content: "Freelan|";
  }
  74% {
    content: "Freelanc|";
  }
  75% {
    content: "Freelance|";
  }
  76% {
    content: "Freelancer|";
  }
  77% {
    content: "Freelancer|";
  }
  78% {
    content: "Freelancer|";
  }
  79% {
    content: "Freelancer|";
  }
  80% {
    content: "Freelancer|";
  }
  81% {
    content: "Freelance|";
  }
  82% {
    content: "Freelanc|";
  }
  83% {
    content: "Freelan|";
  }
  84% {
    content: "Freela|";
  }
  85% {
    content: "Freel|";
  }
  86% {
    content: "Free|";
  }
  87% {
    content: "Fre|";
  }
  88% {
    content: "Fr|";
  }
  89% {
    content: "F|";
  }
  90% {
    content: "|";
  }
}
