body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.home{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../imgs/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.nav-tabs {
    --bs-nav-tabs-border-width: none;
    --bs-nav-tabs-border-color:none;
    --bs-nav-tabs-border-radius: none;
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg:none;
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom:none;
}
@media (max-width: 991px) {
    nav button {
        display: block;
    }
}
.nav-tabs:active  .links::after{
    opacity: 1;
}
.dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    opacity: 1;
    top: 0;
    left: -100%;
    margin-top: -1px;
  }
.ani::after {
    content: "";
    animation: animate infinite 10s alternate;
    margin-top: 10px;
  }
  .nav-right ul li .links{
    position: relative;
  }
  nav ul li .links::after{
    content: "";
    position: absolute;
    height:2px ;
    opacity: 0;
    width:70%;
    bottom: 0;
    left:10px;
    background-color: white;
    transition: all 0.5s;
  }
  nav ul li{
    position: relative;
  }
ul li:hover .links::after{
    opacity: 1;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-bottom: 2px solid white;
    border-radius: 0;
    background-color:black;
    
}
  .dropp li a:hover {
    color: #0d6efd;
  }
  .progress-bar{
    height: 0.7rem;
    background-color: #0078ff;
  }
  .progress{
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
  }
  .about-me h3::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.tittle p::before{
    content: "";
    position: absolute;
    width: 10%;
    bottom: 0;
    left:45%;
    margin-top: 20px;
    height: 4px;
    background-color: #0078ff;
}
.circle{
height: 100px;
width: 100px;
font-size: 2rem;
position: relative;
top: 20px;
border-radius: 50%;
margin: 0 auto;
text-align: center;
box-shadow: 0 0 0 10px #0078ff;
display: block;
}
.circle:hover{
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
    color: white;
}
.experience{
    background-image: url(../imgs/background-section.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
 .ico-circle {
    height: 80px;
    width: 80px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #cde1f8;
    display: block;
}
@media screen and (min-width:576px) {
    .portfolio .inner{
        position: relative;
        left:25px ;
    }
}
.paragra{
    color: #4e4e4e;
    font-size: 0.8rem;
}
.paragra span{
    color: #0d6efd;
}
.portfolio svg{
    color: #0d6efd;
}
.portfolio figure{
    overflow: hidden;
    display: inline-block;
}
.portfolio img{
    vertical-align: middle;
    transition: transform 0.7s;
   
}
.portfolio .p-item:hover img {
    transform: scale(1.5);
    transition: transform 0.7s;
}
.cards ,.contact{
    background-image: url(../imgs/background-card.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cards img{
    width: 10%;
    border-radius: 50%;
}
@media (max-width: 776px) {
    .carousel-caption{
        display: block !important;
        text-align: center;
    }
    .cards img{
        width: 20%;
        transform: translateX(-20px);
    }
}
    .carousel-caption {
        display: block !important;
        text-align: center;
    }
    .card-1 .carousel-caption , .card-2 .carousel-caption{
        transform: translate(-20%, 20px);
    }
    .badge{
        transform: translate(150px,225px);
        margin: auto;
    }
    .badges{
        transform: translate(120px,225px);
        margin: auto;
    }
    .card-body h5:hover ,.card-footer span:hover{
        color: #0d6efd;
    }
    @media (max-width: 776px) {
        .badge{
            transform: translate(220px,380px);
        }
    }
    @media (max-width: 568px) {
        .badge{
            transform: translate(150px,260px);
        }
    }
    .contact .left h2::before{
        content: "";
        position: absolute;
        width: 40%;
        bottom: 0;
        left:10%;
        margin-top: 40px;
        height:4px;
        background-color: #0078ff;
    }

    .contact .right h2::before{
        content: "";
        position: absolute;
        width: 20%;
        bottom: 0;
        left:2%;
        margin-top: 40px;
        height:4px;
        background-color: #0078ff;
    }
    .form-control {
        display: block;
        width: 476px;
        height: 43px;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .form-group textarea{
        height: 130px;
    }
    .contact .ico-circle {
        height: 40px;
        width: 40px;
        font-size: 1.2rem;
        border-radius: 50%;
        line-height: 1.6;
        margin: 0 15px 0 0;
        box-shadow: 0 0 0 3px #0078ff;
        transition: all 500ms ease;
    }
    .contact .ico-circle:hover{
        background-color: #0d6efd;
        box-shadow: 0 0 0 3px #cde1f8;
    }
    .contact ,.container-fluid{
        min-height: 150vh;
    }
    .contact form button:hover{
        box-shadow: 0 0 0 3px #cde1f8;
        background-color: rgba(13, 110, 253,0.8);
    }
    footer{
        background: #0062d3;
    }

